Repository cs-24-sw-8-04/scheduling, pull requests merged in 2024-04, with the labels that each got.

#68 Account page
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/MainLayout.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/AccountPage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/Page.kt
Labels: java, app

#71 The simulation can create arbitrary users, devices, and tasks now
  backend/src/main.rs
  protocol/src/accounts.rs
  protocol/src/devices.rs
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/generate_data.rs
  simulator/src/http_client.rs
  simulator/src/main.rs
Labels: rust

#73 Add background service that runs the scheduling algorithm
  backend/src/data_model/graph.rs
  backend/src/extractors/auth.rs
  backend/src/handlers/accounts.rs
  backend/src/handlers/devices.rs
  backend/src/handlers/events.rs
  backend/src/handlers/tasks.rs
  backend/src/main.rs
  backend/src/scheduling.rs
  backend/src/scheduling/background_service.rs
  backend/src/scheduling/scheduler.rs
  backend/src/scheduling/unpublished_event.rs
Labels: rust

#66 Basic global scheduling
  backend/src/data_model/graph.rs
  backend/src/main.rs
  backend/src/scheduling.rs
  backend/src/scheduling/background_service.rs
  backend/src/scheduling/scheduler.rs
  backend/src/scheduling/task_for_scheduler.rs
Labels: rust

#72 Connecting front backend login and signup page - stores auth token and username in datastore
  frontend/app/build.gradle.kts
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/MainActivity.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/MainLayout.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/datasources/AccountDataSource.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/exceptions/UserNotLoggedInException.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/AccountPage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/LoginPage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/Page.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/SignUpPage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/repositories/account/AccountRepository.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/repositories/account/IAccountRepository.kt
  frontend/app/src/main/java/testdata/DummyAccountRepository.kt
Labels: java, app

#84 Change date and time from string to LocalDateTime in frontend
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/api/ApiClient.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/api/protocol/Events.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/api/protocol/Timespan.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/api/typeadapters/LocalDateTimeTypeAdapter.kt
  frontend/app/src/test/java/dk/scheduling/schedulingfrontend/ApiServiceTest.kt
Labels: java, app

#85 Add "All Permutations Algorithm"
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/data_model/graph.rs
  backend/src/scheduling/background_service.rs
  backend/src/scheduling/scheduler.rs
  backend/src/scheduling/task_for_scheduler.rs
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/api/protocol/Devices.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/api/protocol/Tasks.kt
  protocol/src/time.rs
Labels: rust

#88 Task overview page
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/MainActivity.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/components/ConfirmAlertDialog.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/components/Dateformat.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/model/Device.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/model/DeviceOverview.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/model/DeviceState.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/model/DeviceTask.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/model/TaskEvent.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/CreateDevicePage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/HomePage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/Page.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/TaskOverviewPage.kt
  frontend/app/src/main/java/testdata/DeviceOverviewTestData.kt
  frontend/app/src/main/java/testdata/DeviceTaskTestData.kt
  frontend/app/src/main/java/testdata/TestData.kt
Labels: java, app

#101 Add simulator mode
  .github/workflows/backend.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/scheduling/background_service.rs
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/generate_data.rs
  simulator/src/main.rs
Labels: rust

#102 Floating action button - create task or device
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/MainActivity.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/HomePage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/Page.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/TaskOverviewPage.kt
Labels: java, app

#108 Loading indicator component
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/components/Loading.kt
Labels: app

#114 Loading indicator centered
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/components/Loading.kt
Labels: java, app

#131 2. APP - Add loading screen to device and task overview pages
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/HomePage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/TaskOverviewPage.kt
Labels: java, app

#132 3. Connect pages with repository expect create task page
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/MainActivity.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/CreateDevicePage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/HomePage.kt
  frontend/app/src/main/java/dk/scheduling/schedulingfrontend/pages/TaskOverviewPage.kt
  frontend/app/src/main/java/testdata/DummyDeviceRepository.kt
Labels: java, app
